.benefits {

}

.benefits__container {

}

.benefits__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.benefits__list {
  list-style-type: none;
}

.benefits__item--ingredients {

}

.benefits__item-text {
  font-size: 14px;
  line-height: 18px;
}
