.button {
  font-family: $font-secondary;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.button--primary {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $accent-color-text;
  background-color: $bg-basic-green;
}

.button--secondary {
  font-size: 16px;
  line-height: 16px;
  color: $secondary-color-text;
  background-color: $bg-basic-grey;
}
