.catalog {

}

.catalog__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-color-text;
}

.catalog__container {

}

.catalog__list {
  list-style-type: none;
}

.catalog__item {

}
