.catalog__container {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.catalog__title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-color-text;
  margin-top: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
  }
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 63px 80px;
  }
}

.catalog__item {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin: -1px -20px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
  }
}
