.copyright {
  text-decoration: none;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    gap: 23px;
    padding: 0;
  }

}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
  color: $primary-color-text;
  margin: 0;
}

.copyright svg {
  color: $icon-color-grey;

  &:hover {
    color: $bg-basic-green;
  }

  &:active {
    color: rgba($bg-basic-green, 0.3);
  }
}
