.extra {

}

.extra__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color-text;
}

.extra__container {

}

.extra__list {
  list-style-type: none;
}

.extra__item {

}

.extra-card {

}

.extra-card__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  color: $special-color-text;
  text-transform: uppercase;
}

.extra-card__text {
  font-size: 14px;
  line-height: 14px;
}

.extra-card__button {

}
