.main-nav {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    max-width: 62%;
  }
}

.main-nav__toggle {
  border: none;
  cursor: pointer;
  display: block;
  background-color: rgba(#ffffff, 0);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/stack.svg#burger-icon");
  top: 20px;
  right: 21px;
  width: 24px;
  height: 24px;
}



.main-nav--nojs {
  & .main-nav__toggle {
    display: none;
  }

  & .main-nav__wrapper {
    @media (max-width: 767px) {
      display: block;
      position: static;
    }
  }

  & .nav__list {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../../images/icons/stack.svg#close-icon");
  top: 23px;
  right: 20px;
  width: 18px;
  height: 18px;
}

.main-nav__wrapper {
  @media (min-width: $mobile-width) {
    width: 100%;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }
}


.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $mobile-width) {
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
  }
}

