.product-card {
  background-color: $bg-color-primary;
  padding-top: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: $bg-color-primary;
    background-image: linear-gradient(to bottom,$bg-color-primary 81px,$bg-basic-grey 81px 100%);
    display: flex;
    flex-direction: column;
    padding: 0 37px 40px 37px;
    justify-content: space-between;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-color-primary;
    background-image: linear-gradient(to bottom,$bg-color-primary 81px,$bg-basic-grey 81px 100%);
    display: flex;
    flex-direction: column;
    padding: 0 38px 40px 38px;
    justify-content: space-between;
    height: 100%;
  }
}

.product-card--more {
  @media (min-width: $tablet-width) {
    background-color: $bg-color-primary;
    background-image: none;
    border: 2px solid $bg-basic-grey;
    margin-top: 82px;
    max-height: 429px;
    padding: 48px 35px 38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
    max-height: 431px;
    padding: 48px 36px 38px 36px;
  }
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }
}

.product-card__picture {

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 244px;
    margin: 0 auto;
    padding-bottom: 22px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 232px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-card__image {
  display: block;
  margin: 0 auto;
}

.product-card__title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special-color-text;
  text-transform: uppercase;
  margin: 0 64px 14px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 55px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 14px 23px;
  }
}

.product-card__title--more {
  text-align: center;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin: 0 55px 23px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 11px 26px;
  }
}

.product-card__description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__description-subtitle {

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }
}

.product-card__description--more {
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 20px 82px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 90px;
  }
}

.product-card__description-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 5px;
  }
}

.product-card__button {
  display: block;
  padding: 10px 109px;

  @media (min-width: $tablet-width) {
    padding: 10px 10px;
  }
}

.product-card__button--more {
  padding: 10px 94px;

  @media (min-width: $tablet-width) {
    padding: 12px 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 12px;
  }
}

.product-card__plus {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 23px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../images/icons/stack.svg#plus-icon");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../images/icons/stack.svg#plus-icon");
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto 60px;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../images/icons/stack.svg#plus-icon");
      background-size: 60px 60px;
      width: 60px;
      height: 60px;
    }
  }
}




