.program {
  font-family: $font-secondary;
  color: $secondary-color-text;
}

.program__container {

}

.program__header {

}

.program__title {
  font-size: 36px;
  line-height: 36px;
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program__form {

}
