.site-list {
  font-family: "Oswald", sans-serif;
  list-style-type: none;
}

.site-list__item {

}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.site-list__link--current {

}
